<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Apresentação</title>
</head>
<body>
    <div>

        <h1>
            Tecnico em Informática
        </h1>

        <h3>
            Sobre o curso
        </h3>
        <p>
            No Estado do Espírito Santo existe uma demanda muito grande por profissionais qualificados na área de informática. Essa demanda é verificada pelo grande potencial industrial do Estado que requer tecnologias modernas.
        </p>

        <p>
            Dessa forma, o curso Técnico em Informática tem como objetivo formar pessoas capazes de exercer atividades de gestão, planejamento, operação e manutenção de computadores, comunicação de dados e desenvolvimento de softwares, de  spectos organizacionais e humanos, voltados para a produção de bens, serviços e conhecimentos.
        </p>

        <h3>
            Missão
        </h3>
        <p>
            Formar profissionais com ampla competência técnica, humanística e ética; capazes de desempenhar atividades como identificação dos elementos básicos de informática, sistemas operacionais, as diferentes linguagens de programação e os dispositivos móveis; comprometidos em atuar segundo princípios de ética e solidariedade, em prol do bem comum e da melhoria da qualidade de vida por meio de atitudes sustentáveis, pelo exercício de sua cidadania.
        </p>
        <h3>
            Competências
        </h3>
        <p>
            O Curso Técnico em Informática do CEET Vasco Coutinho pretende formar profissional adaptável às exigências requeridas pelas mudanças aceleradas do mercado de trabalho e às necessidades da evolução tecnológica da informática, que cada vez mais invade todos os setores da sociedade (vida privada, comércio, indústria, serviços, etc.), o Técnico em Informática deverá receber uma formação ampla, constituída por competências gerais e específicas que lhe permitam atuar e acompanhar as transformações da área e do mundo do trabalho, de forma autônoma e crítica.
        </p>
        <h3>Mercado de Trabalho</h3>
        <p>A sociedade em que vivemos é hoje denominada Sociedade da Informação. Nela, as organizações não conseguem sub-existir, por muito tempo, sem as informações pertinentes aos seus processos internos e ao ambiente em que elas atuam.</p>
        <p>Por isto, o Técnico em Informática encontrará demanda pelos seus conhecimentos em todas as organizações públicas ou privadas sejam elas comerciais, industriais ou até mesmo naquelas sem fins lucrativos. Prestando seus serviços profissionais ele poderá atuar tanto como um técnico de nível superior autônomo, como empresário do ramo de sistemas e tecnologia da informação ou como um empregado formal de uma empresa pública ou privada.</p>
        <p>Além da carência no mercado de trabalho estadual por profissionais de informática pode-se de perceber, em anúncios publicados nos principais jornais locais e de outros estados, uma grande demanda, em nível nacional, por este tipos de profissionais.</p>

    </div>
</body>
</html>
