<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Curso</title>
    <style>
        div{
            background-color: aqua;
        }
    </style>
</head>
<body>
    @RenderPage("Rodape.cshtml")

    <div class="container-sm">

        <h1>Curso</h1>
        <h3>Matérias:</h3>
        <p><b>Algoritimos e Lógica de progamação</b></p>
        <ul>
            <li>Introdução a Lógica Matemática;</li>
            <li>Introdução a Lógica de Programação;</li>
            <li>Tipos de Algoritmos;</li>
            <li>Pseudocódigo Portugal;</li>
            <li>Tipos de dados.</li>
            <li>Constantes e variáveis.</li>
            <li>Expressões.</li>
            <li>Operadores.</li>
            <li>Instruções Condicionais,</li>
            <li>Incondicionais e de Repetição.</li>
            <li>Introdução a Linguagem de Programação C;</li>
            <li>Tipos definidos pelo programador e Tipos Abstratos de Dados.</li>
            <li>Estruturas Homogêneas: Vetores e Matrizes;</li>
            <li>Estruturas Heterogênea: Registros.</li>

        </ul>
        <p><b>Aplicativos Computacionais</b></p>
        <ul>
            <li>Edição de textos;</li>
            <li>Planilhas Eletrônicas;</li>
            <li>Softwares de Apresentação Eletrônica;</li>
            <li>Conceitos e elementos da Computação Gráficos aplicados à criação e edição de imagens digitais.</li>
            <li>Técnicas de seleção, recorte, montagem e filtragem em software para edição de imagens.</li>
            <li>Técnicas de criação de ilustrações.</li>
            <li>Vetorização e modificação de atributos em software para edição de imagens vetoriais.</li>

        </ul>
        <p><b>Banco de Dados</b></p>
        <ul>
            <li>Sistemas Gerenciadores de Banco de Dados (SGBD): arquitetura, objetivos, requisitos e componentes.</li>
            <li>Conceitos Básicos de Banco de Dados.</li>
            <li>Modelos: Hierárquico, Rede e Relacional.</li>
            <li>Banco de Dados Relacional: Modelo de Dados e Restrições de Integridade.</li>
            <li>Modelagem e Projeto de Banco de Dados Relacionais: Modelo Entidade-Relacionamento.</li>
            <li>Normalização, álgebra relacional, introdução ao sql básico(criar,editar,excluir,consultas simples).</li>
        </ul>
        <p><b>Ética profissional</b></p>
        <ul>
            <li>Comportamento ético.</li>
            <li>Relações interpessoais.</li>
            <li>Ética profissional.</li>
            <li>Código de Ética.</li>
            <li>Questões éticas no uso dos computadores e das tecnologias de computação.</li>
            <li>Direito de propriedade de software (pirataria);</li>
            <li>Confidencialidade e privacidade de dados</li>
        </ul>
        <p><b>Fundamentos de redes</b></p>
        <ul>
            <li>Redes de Computadores: visão geral LAN, MAN e WAN;</li>
            <li>Topologias de rede: barra, estrela, anel e híbrida;</li>
            <li>Visão geral de arquitetura de redes, arquitetura OSI/ISO e TCP/IP;</li>
            <li>Principais protocolos das camadas da arquitetura TCP/IP;</li>
            <li>Meios físicos e tecnologias de transmissão: meios físicos cabeados e não cabeados;</li>
            <li>Dispositivos de interconexão de redes.</li>
        </ul>
        <p><b>Inglês técnico</b></p>
        <ul>
            <li>
                Análise contrastiva entre textos técnicos em TI, em inglês e português;
            </li>
            <li>Técnicas de tradução;</li>
            <li>Prática de tradução, glossário de termos técnicos em TI.</li>
        </ul>
        <p><b>Instalação, manutenção e Sistemas Operacionais</b></p>
        <ul>
            <li>Visão geral dos Sistemas Operacionais;</li>
            <li>Conceitos e gerenciamento de recursos de hardware e software do computador;</li>
            <li>Noções de segurança, instalação elétrica e aterramento;</li>
            <li>Princípios de funcionamento de processadores, memórias e características dos equipamentos internos e externos;</li>
            <li>Conexão física e instalação de programas para equipamentos externos e internos;</li>
            <li>Instalação e desinstalação de softwares;</li>
            <li>Ferramentas e manutenção preventiva e corretiva adequada;</li>
            <li>Instalação e manutenção de sistemas operacionais, utilitários e aplicativos;</li>
            <li>Componentes;</li>
            <li>Instalação, configuração e manutenção de computadores, periféricos e software.</li>

        </ul>
        <p><b>Análise e Projeto de Sistemas</b></p>
        <ul>
            <li>Modelagem de dados, Metodologias de análise e projetos de sistemas baseado na UML;</li>
            <li>Especificação de testes e validação de software;</li>
            <li>Levantamento de custos;</li>
            <li>Técnicas de coleta de informações.</li>
        </ul>
        <p><b>Estrutura de Dados</b></p>
        <ul>
            <li>Modularização: procedimento e função.</li>
            <li>Escopo de variáveis.</li>
            <li>Parametrização.</li>
            <li>Passagem de parâmetros;</li>
            <li>Introdução a estrutura de dados;</li>
            <li>Tipos abstratos de dados;</li>
            <li>Alocação estática e alocação dinâmica;</li>
            <li>Listas lineares;</li>
            <li>Listas encadeadas;</li>
            <li>Estruturas de Pilhas;</li>
            <li>Estruturas de Filas;</li>
            <li>Recursividade;</li>
            <li>Árvores Binárias de Pesquisa;</li>
            <li>Métodos de Ordenação e de Pesquisa de Dados.</li>


        </ul>
        <p><b>Linguagem de Programação Orientada a Objeto</b></p>
        <ul>
            <li>Paradigma de orientação a objeto;</li>
            <li>Introdução ao Java;</li>
            <li>Ambientes de Desenvolvimento Integrado;</li>
            <li>Variáveis e operadores;</li>
            <li>Controle de fluxo e repetição;</li>
            <li>Orientação a objetos – classes e métodos;</li>
            <li>Arrays;</li>
            <li>Modificadores de acesso e atributos de classe;</li>
            <li>Herança, reescrita e polimorfismo;</li>
            <li>Classes abstratas;</li>
            <li>Interfaces;</li>
            <li>Tratamento de exceções;</li>
            <li>Geração de Jar e Javadoc;</li>
            <li>Pacote java.lang;</li>
            <li>Pacote java.io;</li>
            <li>Interfaces Gráficas com o usuário – GUI (AWT e Swing);</li>
            <li>Conexão com Banco de Dados através da API JDBC.</li>
        </ul>
        <p><b>Projeto de Banco de Dados</b></p>
        <ul>
            <li>Desenvolvimento prático de um sistema de banco de dados.</li>
            <li>Arquitetura de um Sistema Gerenciador de Banco de Dados.</li>
            <li>Modelos de dados.</li>
            <li>Modelagem e projeto de banco de dados.</li>
            <li>Linguagens de definição e manipulação de dados.</li>
            <li>Projeto e implementação de aplicações de Bancos de Dados.</li>
            <li>Gerenciamento de transações.</li>
            <li>Controle de concorrência.</li>
            <li>Recuperação.</li>
            <li>Indexação.</li>

        </ul>
        <p><b>Projeto Integrador</b></p>
        <ul>
            <li>Elaboração de um projeto aplicando na prática os conhecimentos teóricos sobre desempenho, eficiência e racionalização dos serviços administrativos das organizações;</li>
            <li>Caracterização da natureza e objetivos do projeto;</li>
            <li>Revisão bibliográfica;</li>
            <li>Análise e registro do projeto;</li>
            <li>implementação de acordo com a escolha realizada.</li>

        </ul>
        <p><b>Administração de Sistemas Operacionais de Redes</b></p>
        <ul>
            <li>Características de um servidor da plataforma Windows: fundamentos, configuração e administração;</li>
            <li>Configuração e ativação dos Serviços de Rede: Active Directory, DNS e DHCP;</li>
            <li>Administração de grupos de usuários de redes – AD;</li>
            <li>Aplicação de políticas de segurança – GPO;</li>
            <li>Características de um servidor da plataforma Linux: fundamentos, configuração e administração;</li>
            <li>Proteção Do Servidor: Iptables;</li>
            <li>Funcionamento do Samba – Conexão com Windows; Monitoramento do Servidor.</li>

        </ul>
        <p><b>Desenvolvimento para Dispositivos Móveis</b></p>
        <ul>
            <li>Introdução a dispositivos móveis, plataformas de hardware, plataforma de software, ferramentas de desenvolvimento. Recursos dos dispositivos móveis (câmera, gps e multimídia), serviços de mapas, serviços de notícias, redes sociais.</li>
            <li>Ambiente integrado de desenvolvimentos de aplicações móveis.</li>
            <li>Publicação de um aplicativo em uma loja de aplicativos livre.</li>
            <li>Componentes Visuais.</li>
            <li>Estrutura de um sistema baseado em formulários.</li>
            <li>Layouts e organização de formulários compactos.</li>
            <li>Usabilidade de um sistema.</li>

        </ul>
        <p><b>Empreendedorismo</b></p>
        <ul>
            <li>Empreendedorismo e Empreendedor;</li>
            <li>Competência Empreendedora;</li>
            <li>O empreendedorismo no contexto do mercado;</li>
            <li>O comportamento empreendedor;</li>
            <li>Star ups, Aceleradora, Investidores, Modelo de Negócios: Canvas.</li>
            <li>Formalidade na abertura do negócio.</li>

        </ul>
        <p><b>Programação WEB</b></p>
        <ul>
            <li>Conceitos fundamentais sobre Web Design.</li>
            <li>Componentes de navegação, ilustrações, tipografia, teoria da cor, elementos e etapas de planejamento de um web site.</li>
            <li>Arquitetura da informação e apresentação visual.</li>
            <li>Recomendações do W3C.</li>
            <li>Linguagens de programação para formatação: HTML5 , JAVASCRIPT e CSS.</li>
            <li>Ambientes de programação.</li>
            <li>Desenvolvimento de aplicações voltadas para a World Wide Web;</li>
            <li>Linguagem de programação para Internet;</li>
            <li>(PHP, ASP, JAVA) Ambiente de desenvolvimento de programas;</li>
            <li>Orientação a objetos;</li>
            <li>Linguagem de programação para Internet;</li>
            <li>Conexão com um banco de dados.</li>
        </ul>
        <p><b>Redes, Protocolos e Segurânça da Informação</b></p>
        <ul>
            <li>Introdução a protocolos e serviços de redes;</li>
            <li>Aplicações e serviços TCP/IP;</li>
            <li>Modelo de referência TCP/IP;</li>
            <li>Endereçamento IPV4 e IPV6;</li>
            <li>Serviços de redes: Cliente servidor, Wan e para Web;</li>
            <li>Segurança em redes TCP/IP e em sistemas e redes sem fios;</li>
            <li>Prática da segurança: normas e procedimentos;</li>
            <li>Planejamento de redes de computadores;</li>
            <li>Normas de cabeamento estruturado para edifícios comerciais e data centers (NBR 14656) e normas de aterramento elétrico;</li>
            <li>Norma Técnica: Tecnologia da informação – Técnicas de segurança – Sistemas de gestão de segurança da informação (NBR ISO/IEC 27001);</li>
            <li>Introdução à administração, suporte e gerenciamento de redes.</li>
        </ul>
        </div>

</body>
    
</html>
