<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Galéria</title>
    <style>
       img{
           position:relative;
           width:500px;
           height:500px;
           
       }

    </style>
</head>
<body>
    <div class="container-sm">
        @{

            int cont = 1;

            for (int i = 0; i < 9; i++)
            {
                <img src="~/img/img@{@cont}.jpg" />
                cont++;

            }
        }
        </div>
</body>
</html>
