<!DOCTYPE html>
<html>
<head>
    <style>
        img{
            width:1580px;
            height:300px;

        }
    </style>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Apresentação</title>
</head>
<body>
    
        <img src="~/img/ceet.jpg"
   
</body>
</html>
